.app-header {
  $this: &;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(7.81deg, #ECE8EA 8.32%, rgba(236, 232, 234, 0) 112.46%);
  height: 90vh;
  min-height: 650px;
  position: relative;

  @media (max-width: 768px) {
    height: 70vh;
  }

  &.terms {
    height: auto;
    min-height: 450px;

    @media (max-width: 768px) {
      min-height: 350px;
    }

    #{$this}__content {
      margin-top: 0 !important;
    }
    #{$this}__waves {
      display: none;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    box-sizing: border-box;
    position: absolute;
    z-index: 9901;
    top: 0;
    width: 100%;

    @media (max-width: 768px) {
      padding: 30px 24px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    width: 180px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;
    color: $black;

    svg {
      margin-right: 15px;
      border-radius: 100px;
      box-shadow: 0 10px 20px rgba(0, 2, 1, 0.1);
    }

    @media (max-width: 640px) {
      span {
        display: none;
      }
    }
  }

  &__menu {
    display: flex;

    @media (max-width: 992px) {
      display: none;
    }
  }

  &__menu-mobile {
    display: flex;
    position: fixed;
    z-index: 9902;
    right: 0;
    top: 0;
    flex-direction: column;
    width: 75vw;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background: $pink;
    transform: translate(100%, 0);
    transition: transform .2s ease-in-out;

    a {
      display: inline-block;
      padding: 12px 0;
      color: #fff;

      &:hover {
        color: #fff;
      }
    }

    &.isOpen {
      transform: translate(0, 0);
    }
  }

  &__menu-close {
    display: block;
    position: absolute;
    top: 42px;
    right: 30px;
    cursor: pointer;

    path {
      stroke: #fff;
    }
  }

  &__menu-button {
    display: none;

    @media (max-width: 992px) {
      display: block;
      margin-left: auto;
      margin-right: 24px;
      position: absolute;
      z-index: 3;
      cursor: pointer;
      right: 0;
    }
  }

  &__menu-item {
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: $black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 15px;
    transition: color .15s ease-in-out;

    &:hover {
      color: $pink;
    }

    &.active {
      color: $pink;

      @media (max-width: 992px) {
        color: #fff;
        opacity: .6;
      }
    }
  }

  &__search {
    width: 180px;
    height: 40px;
    padding-left: 20px;
    box-sizing: border-box;
    border-left: 1px solid rgba(#807C7E, .3);

    @media (max-width: 992px) {
      width: 200px;
      flex: 0 0 200px;
    }
  }

  &__search-errors {
    color: #f00;
  }

  &__search-submit {
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 24px;
    margin-right: 2px;
    transform: translate(-4px, 0);

    &[disabled] {
      cursor: not-allowed;
    }
  }

  &__search-close {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0, -50%);
  }

  &__search-container {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    box-sizing: border-box;
    width: calc(100% - 20px);
    top: 0;
    left: 0;
    height: 40px;
    background: transparent;
    transform: translate(calc(100% - 180px), 40px);
    transition: all .2s ease-in-out;

    @media (max-width: 992px) {
      transform: translate(calc(100% - 200px), 40px);
    }

    @media (max-width: 768px) {
      transform: translate(calc(100% - 195px), 30px);
    }

    &.isOpen {
      z-index: 5;
      height: 90px;
      background: #fff;
      border-radius: 10px;
      padding: 0 40px;
      transform: translate(10px, 10px);

      @media (max-width: 640px) {
        height: 70px;
      }

      #{$this}__search-input {
        font-size: 16px;
        width: 96%;
        height: 40px;
        line-height: 1;

        @media (max-width: 640px) {
          width: 80%;
        }
      }
    }
  }

  &__search-icon {
    margin-right: 12px;
  }

  &__loading-icon {
    margin-right: 12px;
  }

  &__search-input {
    font-size: 12px;
    line-height: 14px;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Courier New';
    transition: all .25s ease-in-out;
    width: 120px;

    &::placeholder {
      color: $black;
    }
  }

  &__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: transparent;
    transform: translate(-100%, -100%);

    &.isOpen {
      z-index: 9900;
      transform: translate(0, 0);
      background: rgba(0,0,0,.12);
    }

    &.menu-mobile {
      @media (min-width: 993px) {
        display: none !important;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    animation: .25s ease-out 0s 1 slideInFromBottom;

    @media (min-width: 1600px) {
      margin-top: -6vh;
    }

    @media (min-width: 1992px) {
      margin-top: -6vh;
    }

    &.system-params {
      margin-top: -10vh;
    }
  }

  &__content-text-headline {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: $pink;

    @media (max-width: 992px) {
      font-size: 18px;
      line-height: 21px;
    }

    @media (max-width: 640px) {
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__content-text-title {
    font-weight: bold;
    font-size: 60px;
    line-height: 62px;
    color: $black;
    margin: 20px 0;

    @media (max-width: 992px) {
      font-size: 42px;
      line-height: 52px;
      margin: 18px 0;
    }

    @media (max-width: 640px) {
      font-size: 32px;
      line-height: 40px;
    }
  }

  &__content-text-description {
    max-width: 480px;
    font-size: 20px;
    line-height: 24px;
    color: $black;

    @media (max-width: 992px) {
      font-size: 18px;
      line-height: 22px;
    }

    @media (max-width: 640px) {
      font-size: 16px;
      line-height: 20px;
    }

    b {
      font-weight: bold;
      color: $pink;
    }
  }

  &__content-text-applications {
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;

    @media (max-width: 992px) {
      margin-top: 32px;
    }

    .btn__mobile-store {
      margin-bottom: 12px;

      &:first-child {
        margin-right: 24px;
      }
    }
  }

  &__content-image {
    flex: 0 0 380px;
    position: relative;

    @media (max-width: 992px) {
      flex: 0 0 250px;
    }

    @media (max-width: 640px) {
      display: none;
    }

    &.mobile-shadow {
      &:before {
        content: '';
        position: absolute;
        width: 322px;
        height: 635px;
        top: 0;
        right: 10px;
        border-radius: 50px;
        box-shadow: -15px 21px 24px rgba(62, 42, 52, 0.09), -50px 34px 144px rgba(62, 42, 52, 0.15);


        @media (max-width: 992px) {
          width: 200px;
          height: 400px;
        }
      }
    }

    img {
      position: absolute;
      top: -30px;
      width: 100%;
      max-width: 380px;
    }

    &.md {
      flex: 0 0 420px;
      margin-top: -60px;

      @media (max-width: 992px) {
        flex: 0 0 300px;
      }

      img {
        max-width: 420px;
      }
    }

    &.circulation {
      flex: 0 0 440px;
      margin-top: -20px;
      margin-left: 20px;

      @media (max-width: 992px) {
        flex: 0 0 350px;
        margin-top: 0;
      }

      img {
        max-width: 440px;
      }
    }

    &.howtouse {
      flex: 0 0 500px;
      margin-top: -20px;
      margin-left: 20px;

      @media (max-width: 992px) {
        flex: 0 0 370px;
        margin-top: 0;
      }

      img {
        max-width: 500px;
      }
    }

    &.system-params {
      flex: 0 0 480px;
      margin-top: -20px;
      margin-left: 20px;

      @media (max-width: 992px) {
        flex: 0 0 350px;
        margin-top: 0;
      }

      img {
        max-width: 500px;
      }
    }
  }

  &__line-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 100vw;
  }

  &__waves {
    width: 100%;
    height: 220px;
    position: absolute;
    bottom: -30px;
    line-height: 0;

    @media (max-width: 992px) {
      height: 150px;
    }
  }

  &__wave-image {
    width: 300vw;
    min-width: 4000px;
    position: absolute;
    bottom: 0;
    left: 0;

    @media (min-width: 1600px) {
      width: 320vw;
    }
  }

  &__wave-1 {
    bottom: -40px;
    animation: move_wave 6.5s linear infinite;
  }

  &__wave-2 {
    bottom: -60px;
    animation: move_wave 11.5s linear infinite;
  }

  &__wave-3 {
    animation: move_wave_white 16s linear forwards;
    bottom: -100px;
  }

  &__search-result {
    width: 90%;
    max-width: 700px;
    background: #fff;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
    position: fixed;
    z-index: 9990;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 14px;
    line-height: 16px;

    @media (max-width: 767px) {
      padding: 25px 15px;
    }
  }

  &__search-result-loading {
    margin: -8px 0 0 -10px;
    position: absolute;
    left: 50%;
  }

  &__search-result-transactions-wrapper {
    width: calc(100% + 15px);
    padding-right: 15px;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 220px;
  }

  &__search-result-top {
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid $grey-light;

    @media (max-width: 767px) {
      padding-bottom: 0;
      margin-bottom: 20px;
      font-size: 13px;
      letter-spacing: -0.04em;
    }
  }

  &__search-result-top-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 20px;
  }

  &__search-result-label {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
  }

  &__search-result-top-value {
    font-weight: 500;

    &.balance {
      font-size: 26px;
      line-height: 29px;
      margin-top: 10px;

      @media (max-width: 767px) {
        margin-top: 0;
      }
    }
  }

  &__search-result-top-value-balance {
    font-weight: bold;
    font-size: 60px;
    line-height: 40px;

    @media (max-width: 767px) {
      font-size: 28px;
      line-height: 24px;
    }
  }

  &__search-result-transactions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;

    &.in {
      #{$this}__search-result-transaction-value {
        b {
          color: $green;
        }
      }
    }

    &.out {
      #{$this}__search-result-transaction-value {
        b {
          color: $pink;
        }
      }
    }
  }

  &__search-result-transaction-amount {
    font-size: 12px;
    line-height: 14px;
    text-align: right;
  }

  &__search-result-transaction-value {
    font-size: 14px;
    line-height: 16px;

    b {
      font-weight: bold;
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__search-result-transaction-info {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
  }

  &__search-result-transaction-icon {
    margin-right: 10px;
  }
}

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
    opacity: 0;
  }

  10% {
    opacity: .7;
  }

  50% {
    transform: translateX(-28%) translateZ(0) scaleY(0.75);
  }

  80% {
    opacity: .65;
  }

  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
    opacity: 0;
  }
}


@keyframes move_wave_white {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
    opacity: 0.8;
  }

  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.75);
  }

  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
    opacity: 1;
  }
}
